
@{
    ViewBag.Title = "EditAnnounDialog";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}

<div class="col-md-11 well admin-content" id="Announ">
    <form class="form-horizontal" action="/UnionInfor/EditUnionAnnounIndex" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend class="text-center">输入想要更改的ID</legend>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">ID</label>
                <div class="col-md-4">
                    <input name="ID" type="text" placeholder="输入确认要更新的编号" class="form-control input-md" required="" />
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cancel">选择</label>
                <div class="col-md-4">
                    <button type="reset" class="btn btn-warning">重置</button>
                    <button type="submit" class="btn btn-info">确认</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

