
@{
    ViewBag.Title = "EditUnionPolicyIndex";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}

@model TU.Model.Models.FaGui


<div class="col-md-11 well admin-content" id="Policy">
    <form class="form-horizontal" action="/UnionInfor/EditUnionPolicySave" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend class="text-center">编辑工会政策法规</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">法规标题</label>
                <div class="col-md-6">
                   <input name="MingCheng" value="@Model.MingCheng" id="MingCheng" type="text" class="form-control input-md" />
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">发布人</label>
                <div class="col-md-4">
                    <input name="FabuRen" id="FabuRen" type="text"  class="form-control input-md"  value="@Model.FabuRen" required="" />
                    <span class="help-block">此处编辑发布人姓名</span>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label">架构内容</label>
                <div class="col-md-8">
                    <textarea  class="form-control" name="JieShao" id="JieShao">@Model.JieShao</textarea>
                </div>
            </div>


            <div style="display:none">
                <input type="text" name="ID" value="@Model.ID" />
            </div>
            <input name="ShiJian" style="display:none" />

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label">选择</label>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-info">确定</button>
                    <button type="reset" class="btn btn-warning">重置</button>
                </div>
            </div>


        </fieldset>
    </form>
</div>