
@{
    ViewBag.Title = "FullAnnounContents";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}

@model TU.Model.Models.GongGao

<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend class="text-center">浏览全部</legend>

        <div style="text-indent:2em">@Model.JieShao</div>

    </fieldset>

</form>

