
@{
    ViewBag.Title = "UnionInforIndex";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}

<div class="col-md-11 well admin-content" id="home">
    <p>
        <h2>欢迎登录工会日常工作管理系统<br></h2>
        It is for users, which use one-page layouts.
        With access to so much data, and with the computational power to interpret all of it, the Assistant most likely could handle the entire task;
    </p>
    <p>
        <strong>Thank you!</strong>
    </p>
</div>
<div class="col-md-9 well admin-content" id="GongHuiI">
    工会信息简介...
</div>