
@{
    ViewBag.Title = "EditShengRiIndex";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}

@model TU.Model.Models.Shengri

<div class="col-md-11 well admin-content">

    <form class="form-horizontal" action="/EmployeeBenefits/EditShengRiSave" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend class="text-center">编辑教职工生日信息</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">编号</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">Num</span>
                        <input name="BianHao" value="@Model.BianHao" type="text" placeholder="输入教职工编号" class="form-control input-md">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">姓名</label>
                <div class="col-md-4">
                    <input name="XingMing" value="@Model.XingMing" type="text" placeholder="输入教职工姓名" class="form-control input-md">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">生日</label>
                <div class="col-md-4">
                    <input name="ShengRi" value="@Model.ShengRi" type="text" placeholder="填写教职工生日" class="form-control input-md" required>
                    <span class="help-block">格式为:YYYY-MM-DD</span>
                </div>
            </div>


            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label">选择</label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-info">确定</button>
                    <button type="reset" class="btn btn-warning">重填</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>

