
@{
    ViewBag.Title = "ScanBodyExamIndex";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}

<div class="col-md-11 well admin-content">
    <fieldset>
        <legend class="text-center">浏览教职工体检信息</legend>
        <div class="container">
            <div class="row col-md-6 custyle">
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>时间</th>
                            <th>医院</th>
                            <th>体检结果</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    @{
                        foreach (var item in ViewBag.List)
                        {
                            <tr>
                                <td>@item.XingMing</td>
                                <td>@item.ShiJian</td>
                                <td>@item.YiYuan</td>
                                <td>@item.JieGuo</td>
                                <td class="text-center">
                                    <a class='btn btn-info btn-xs' href="/EmployeeBenefits/EditBodyExamIndex?Id=@item.ID"><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                    <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </fieldset>
</div>

