@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>工会日常工作管理系统</title>
</head>
<body>
    
    
    
    
    

    <form action="/Login/LoginAction" method="post">@* Login:控制器名字 LoginAction:控制器方法 *@
        <div class="container">
            <div class="jumbotron">
                <h1>登录您的工会日常工作管理系统</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div>更有效的职工管理</div>
                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="glyphicon glyphicon-ok"></span> 一切都井井有条</li>
                            <li><span class="glyphicon glyphicon-ok"></span> 更方便的人员管理</li>
                            <li><span class="glyphicon glyphicon-ok"></span> 员工福利发放</li>
                            <li><span class="glyphicon glyphicon-ok"></span> 事务信息快速通知</li>
                            <li><span class="glyphicon glyphicon-ok"></span> 更多惊喜等着您</li>
                            <li>@Html.ActionLink("还没有注册？快来创建一个！", "SignUpIndex", "SignUp")</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <form>

                            <div class="form-group">
                                <label>登录名</label>
                                <input name="UserName" type="text" class="form-control" placeholder="输入您的登录名">
                              </div>
             

                            <div class="form-group">
                                <label>密码</label>
                                <input name="PassWord" type="password" class="form-control" placeholder="填写密码">
                            </div>

                            <button type="submit" class="btn btn-primary btn-lg">登录</button>
                            <button type="reset" class="btn btn-warning  btn-lg">重置</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </form>




























</body>
</html>
