@{
    Layout = null;
    ViewBag.Title = "首页";
}
@*首页资讯*@
<link href="~/Content/css/bootstrap.css" rel="Stylesheet" />
<link href="~/Content/css/jquery-ui.css" rel="Stylesheet" />
<link href="~/Content/css/footer.css" rel="Stylesheet" />
<link href="~/Content/css/Home.css" rel="stylesheet" />
<link href="~/Content/css/vertical menu.css" rel="stylesheet" />

<script src="~/Scripts/jquery.js" language="javascript" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.js" language="javascript" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.js" language="javascript" type="text/javascript"></script>
<script src="~/Scripts/Home.js"></script>

@* Navigation *@
<ul class="nav nav-tabs nav-pills">

        <li class="active">
            @Html.ActionLink("首页资讯", "HomeIndex", "Home")
        </li>
        <li>
            @Html.ActionLink("工会职能", "UnionFunctionIndex", "UnionFunction")
        </li>
        <li>
            <a href="#">加入我们</a>
        </li>
</ul>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
<div class="container">
    <div id="tabs-home" class="row slider" style="background:url(http://legalprom.cl/wp-content/uploads/2014/05/main-bg.jpg) no-repeat center fixed;">
        <div class="col-sm-3">
            <nav class="nav-sidebar">
                <ul class="nav tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab"><p>工会架构信息</p><span>聚焦架构变化</span></a></li>
                    <li class=""><a href="#tab2" data-toggle="tab"><p>最新政策法规</p><span>为您详解与教职工息息相关的政策变化</span></a></li>
                    <li class=""><a href="#tab3" data-toggle="tab"><p>最新工会公告</p><span>了解工会内部最新动态</span></a></li>
                    <li class=""><a href="#tab4" data-toggle="tab"><p>今日工会发生了什么新鲜事?</p><span>快来看看</span></a></li>
                </ul>
            </nav>
        </div>
        <!-- tab content -->
        <div id="wea" class="col-sm-9 tab-content">

            <div class="tab-pane active text-style fade in active" id="tab1">
                <h2>这是第一个</h2>
                <p>看</p>
                <p><strong>今天天气</strong></p>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">你好，下面是...</h3>
                    </div>

                    <div class="panel-body">
                        <form action="/forms/login" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="ve6XAejZc30dRt9YPpgeHfj7z95M0d8dI9dVZtndr9IhXOt4/mF1WjyPwlScpgyCh4bkLKNzfyt5naNaG837Rw==">
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <img src="http://legalprom.cl/wp-content/uploads/2014/05/eirl70.jpg" data-toggle="tooltip" data-original-title="Sociedad EIRL">
                                    <input type="checkbox" name="doc_type[cod][]" class="hidden" value="society_eirl">
                                </div>
                                <div class="col-md-2">
                                    <img src="http://legalprom.cl/wp-content/uploads/2014/05/sa70.jpg" data-toggle="tooltip" data-original-title="Sociedad SA">
                                    <input type="checkbox" name="doc_type[cod][]" class="hidden" value="society_sa">
                                </div>
                                <div class="col-md-2">
                                    <img src="http://legalprom.cl/wp-content/uploads/2014/05/srl70.jpg" data-toggle="tooltip" data-original-title="Sociedad SRL">
                                    <input type="checkbox" name="doc_type[cod][]" class="hidden" value="society_srl">
                                </div>
                                <div class="col-md-2">
                                    <img src="http://legalprom.cl/wp-content/uploads/2014/05/spa70.jpg" data-toggle="tooltip" data-original-title="Sociedad SpA">
                                    <input type="checkbox" name="doc_type[cod][]" class="hidden" value="society_spa">
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Apellido">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Email">
                            </div>
                            <input type="submit" name="commit" value="Crear mi empresa" class="btn btn-info btn-block">

                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane text-style fade" id="tab2">
                <h2>工会今天发生了什么事</h2>
                <p>贯彻落实...</p>
                <p><strong>Desde $129.990</strong></p>
            </div>

            <div class="tab-pane text-style fade" id="tab3">
                <h2>最新政策详解</h2>
                <p>关注最新政策法规</p>
                <p><strong>Desde $44.990 y 24 hrs.</strong></p>
                <a href="#">Detalle Precio y Plazos</a>
            </div>

            <div class="tab-pane text-style fade" id="tab4">
                <h2>工会最新公告</h2>
                <p>公告：今天我们</p>
            </div>
        </div>

    </div>

    @* 3列新闻 *@
    <div class="row press-quotes">
        <div class="col-md-4">
            <center><img class="press-logos" alt="Logo CNN Chile" src="http://legalprom.cl/wp-content/uploads/2013/12/logo-cnnchile.png" /></center>
            <div class="row">
                <div class="col-md-2">
                    <img class="alignleft size-full wp-image-361" src="http://legalprom.cl/wp-content/uploads/2014/01/comillas.png" alt="comillas" width="24" height="20">
                </div>
                <div class="col-md-10">
                    <p>始终做到能够把握自身特点，努力保障教职工的民主权利</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <center><img class="press-logos" style="margin-bottom:35px;" alt="Logo Las Últimas Noticias" src="http://legalprom.cl/wp-content/uploads/2014/01/logo-lun2.png" /></center>
            <div class="row">
                <div class="col-md-2">
                    <img class="alignleft size-full wp-image-361" src="http://legalprom.cl/wp-content/uploads/2014/01/comillas.png" alt="comillas" width="24" height="20">
                </div>
                <div class="col-md-10">
                    <p>不断满足教职工的精神文化需求，促进人的全面发展</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <center><img class="press-logos" alt="Logo Innovacion.cl" src="http://legalprom.cl/wp-content/uploads/2013/12/logo-innovacion1.png" /></center>
            <div class="row">
                <div class="col-md-2">
                    <img class="alignleft size-full wp-image-361" src="http://legalprom.cl/wp-content/uploads/2014/01/comillas.png" alt="comillas" width="24" height="20">
                </div>
                <div class="col-md-10">
                    <p>关心教职工的身心健康，倡导健康文明的生活方式，建立良好的人文环境</p>
                </div>
            </div>
        </div>
    </div>
    @* 中间分隔线 *@
    <div class="line">
        <hr />
    </div>
    @* 3列新闻信息 *@
    <div class="row steps">
        <h3>3 Sencillos Pasos</h3>
        <div class="col-md-4">
            <center><img alt="Paso 1 - formulario online" src="http://legalprom.cl/wp-content/uploads/2013/12/paso1-formulario.jpg" /></center>
            <h4>全面深化改革是解决所有问题的关键，工会组织必须主动适应经济发展新常态，发挥密切联系群众优势</h4>
        </div>
        <div class="col-md-4">
            <center><img alt="Paso 2 - generación y revisión de documentos" src="http://legalprom.cl/wp-content/uploads/2013/12/paso2-documentos.jpg" /></center>
            <h4>动员组织职工支持改革、推动改革。在职工群众中广泛宣传全面深化改革的重大意义、目标任务和决策部署</h4>
        </div>
        <div class="col-md-4">
            <center><img alt="Paso 3 - Firma en notaria" src="http://legalprom.cl/wp-content/uploads/2013/12/paso3-firma.jpg" /></center>
            <h4>进一步深化“创建学习型组织，争当知识型职工”活动，不断丰富活动形式，及时总结和推广典型经验</h4>
        </div>
    </div>
    @* 居中大标题 *@
    <h3 style="font-size: 36px;font-weight: 300;color: #057d9f;text-align: center;margin:50px 0 30px 0;">工会组织风采</h3>
    @* 中间人物简介 *@
    <div class="row" id="opinion-left" style="background:url(http://legalprom.cl/wp-content/uploads/2014/05/engel-volkers.jpg) no-repeat center;">
        <div class="col-md-6">
            <h3>工会正在以独特的优势，为广大人民群众提供更加可信赖的信息平台</h3>
            <p>George</p>
            <p>格林斯潘公司</p>
            <p>经理</p>
        </div>
    </div>
    @* 平台优势简介 *@
    <h3 style="font-size: 36px;font-weight: 300;text-align: center;margin:70px 0;">工会日常工作管理平台职能和优势</h3>

    <div class="row features-home-left">
        <div class="col-md-7">
            <h3>效率</h3>
            <h4>您的要求，我们最快24小时内帮您解决</h4>
            <p>工会基层工作是一项综合性、全局性、战略性、长期性的工作，各个部门都要结合开展业务工作，围绕加强工会基层工作形成合力，把各项业务工作落实到人，因此，人的发展尤为重要。基层工会要大力开展物质文明和精神文明建设，不断满足职工的精神文化需求，进一步关心和解决职工的实际困难</p>
        </div>
        <div class="col-md-5">
            <img alt="rapidez de legalprom" src="http://legalprom.cl/wp-content/uploads/2014/05/rapidez.jpg" />
        </div>
    </div>

    <div class="row features-home-right">
        <div class="col-md-5">
            <img alt="legalprom es economico" src="http://legalprom.cl/wp-content/uploads/2014/05/economico.jpg" />
        </div>
        <div class="col-md-7">
            <h3>服务</h3>
            <h4>无微不至的关怀</h4>
            <p>突出提高维权能力，切实维护职工的合法利益。全面履行各项社会职能，突出维护职工合法权益的职能。这是由工会组织的性质、地位和作用决定的</p>
        </div>
    </div>

    <div class="row features-home-left">
        <div class="col-md-7">
            <h3>诚意</h3>
            <h4>诚意打动人心</h4>
            <p>工会基层组织作用的发挥与职工群众的期望差距较大的问题普遍存在；完善社会主义市场经济体制，大力发展混合所有制经济，股份制成为所有制的主要实现形式，使工会基层工作又遇到了许多新情况、新问题和新挑战；境内外敌对势力竭力散布"工会多元论"，加紧"分化""西化"我国职工队伍、破坏我国工会组织团结统一的图谋一天也没有放松</p>
        </div>
        <div class="col-md-5">
            <img alt="claridad y facilidad de legalprom" src="http://legalprom.cl/wp-content/uploads/2014/05/claridad.jpg" />
        </div>
    </div>

    <div class="row features-home-right">
        <div class="col-md-5">
            <img alt="rapidez de legalprom" src="http://legalprom.cl/wp-content/uploads/2014/05/rapidez.jpg" />
        </div>
        <div class="col-md-7">
            <h3>凝聚</h3>
            <h4>加强工会组织凝聚力</h4>
            <p>按照全面履行各项社会职能，突出维护职能的要求，结合我们事业单位的特点，必须全面地加强工会基层工作，最大限度地把广大干部群众组织到工会中来，不断增强党的阶级基础，扩大党的群众基础</p>
        </div>
        <a href="http://legalprom.com/por-que-legalprom/" class="btn btn-primary btn-lg" style="float:right;margin-top:50px;padding:20px;">Ver más razones para elegirnos</a>
    </div>

    <div class="line">
        <hr />
    </div>

    <h3 style="font-size: 36px;font-weight: 300;text-align: center;margin:70px 0;">2017最优秀的工会团体与组织</h3>

    <center><img alt="" src="http://legalprom.cl/wp-content/uploads/2014/05/clientes.jpg" /></center>

    <div class="line">
        <hr />
    </div>




    @*<div class="row">
        <div class="col-md-12 one-column-text">
            <h2 style="font-size:36px;">Olvídese de Trámites y Complicaciones</h2>
            <h3 style="font-size:24px;">Déje sus asuntos en manos de nuestro equipo y ocupe su tiempo su negocio</h3>
        </div>
    </div>

    <div class="row buttons-who-we-are">
        <div clas="col-md-6">
            <a class="btn btn-primary btn-lg" style="float:left; width:30%;margin:10%; padding:30px;">Registrar su marca</a>
        </div>
        <div clas="col-md-6">
            <a class="btn btn-info btn-lg" style="float:right;width:30%; margin:10%; padding:30px;">Crear su empresa</a>
        </div>

    </div>
    <center><p>2012最优秀的工会团体与组织</p></center>

    <div class="row" id="opinion-right" style="background:url(http://legalprom.cl/wp-content/uploads/2014/05/ingeagro.jpg) no-repeat center;">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <h3>Sobresaliente servicio !</h3>
            <p>Rosario Sepúlveda</p>
            <p>Co-Fundadora de IngeAgro</p>
            <p>Empresa creada con LegalProm</p>
        </div>
    </div>*@

</div>






    <h3 class="text-center">欢迎来到工会日常工作管理系统</h3>

    <footer class="mt-5 ">
        <div class="container-fluid bg-primary py-3" style="margin-top:16em;">
            <div class="container">
                <div class="col-lg-12">
                    <p class="text-white text-center">&copy;@DateTime.Now.Year Tom A. and Jerry S. Meyer. All Rights Reserved.</p>
                </div>
            </div>
        </div>

    </footer>